        <div class="dinosaur-card">
            <img class="card-image" src="/css/img/diplodocus.png">
            <p class="dinosaur-card-name"><a href="/dinosaures/<%= dinosaur.id %>" class="dinosaur-link" ><%= dinosaur.name %></a></p>
            <p class="dinosaur-card-resume"><%= dinosaur.resume %></p>
            <p class="dinosaur-card-species"><%= dinosaur.species %></p>
            <p class="dinosaur-card-available>">Visitable : <%= dinosaur.visitable %></p>
        </div>