<%- include('../../partials/head', {title:"Mon compte | information"})%>
    <%- include('../../partials/header') %>

        <main>
 
            <h1>Information sur l'utilisateur</h1>
            
            <p class="">Nom : <%= user.firstName  %> <%= user.surname %></p>
            <p class="">Date de naissance : <%= user.birthDate %></p>
            <p class="">Adresse postale : <%= user.adress %></p>
            <p class="">Adresse mail :<%= user.mail %></p>

        </main>

        <%- include('../../partials/footer') %>