<%- include('../../partials/head', {title:"Mon compte"})%>
    <%- include('../../partials/header') %>

        <main>
 
            <h1>Bienvenue <%= user.firstName %> <%= user.surname %></h1>

            <a class="nav-skill" href="/account/account">Gérer votre compte</a>
            
        </main>

        <%- include('../../partials/footer') %>