<%- include('../../partials/head', {title:"Mon compte"})%>
    <%- include('../../partials/header') %>

        <main>

            <%- include('../../partials/account/nav-menu-account') %>

            <p class="error"><%= err %></p>
                <h1>Bienvenue <%= user.firstName %>
                        <%= user.surname %>
                </h1>

        </main>

        <%- include('../../partials/footer') %>